.idea/
.vscode/
_deps/
tags

*.zst
*.o
*.a
*.so
*.cubin
*.swp

# Special files
codeline_log_*.txt
testfile.txt
*.nsys-rep

# cmake and build files
build/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
